@model TakeABreak.Models.Break

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Break</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BreakType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BreakType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BreakId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
