@model IEnumerable<TakeABreak.Models.Break>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Length)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day.User.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BreakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BreakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
