@model TakeABreak.Models.Day

@if (Model == null)
{
    <h2>Welcome to Take a Break!</h2>
    <a asp-action="Create" asp-controller="Days">Get started here</a>
} 
else
{
    <h2>Daily Goal</h2>

    <p>Date: @Model.Date</p>
    <p>I've earned: @Model.PointsEarned points today</p>
    <p>Today's goal: @Model.PointsGoal points</p>
    <p>Reminders: @Model.Reminders</p>
    <p><a asp-action="Edit" asp-route-id="@Model.DayId" asp-controller="Days">Edit Daily Goal</a></p>
}



