@model IEnumerable<TakeABreak.Models.Day>

@{
    ViewData["Title"] = "Index";
}

<h2>Daily Break Goals History</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointsGoal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductivityRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reminders)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductivityRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reminders)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
